* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Jua", sans-serif;
  }



/* body{
	background-image: url('./img/bg5.gif');
	background-repeat: no-repeat;
	object-fit: cover;
	
} */

#alert{
	backdrop-filter: blur(12px);
    background-color: rgba(158, 174, 179, 0.163);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 0px rgba(40, 40, 40, 0.35) solid;
    border-right: 0px rgba(40, 40, 40, 0.35) solid;
}
